.header-wrapp {
    height: 60px;

    .navbar {
        padding: 11px;
        background-color: #263238;
        color: #61dafb;

        .main-title {
            text-align: left;
            font-weight: 900;
            font-size: 32px;
            margin: 0;
        }
    }
}